cache/
Articles and Papers/
Images/
test.ipynb
diari.md
graph_structure.md
fluxes/
lib/
.env
.DS_Store
Data/.DS_Store
Data/Neigh/.DS_Store
Data/Neigh/elevacions-terreny-lidar-Catalunya-2m-2008-2011tif1786456535055.tif
Data/Neigh/Barcelona.osm.pbf
Data/trajectory_cache/
Data/Neigh/cataluna-260811.osm.pbf
.venv/
Nodes/
Edges/
# Data/GTFS_TMB/
# Data/GTFS_AMB/



