cache/
Articles and Papers/
Images/
test.ipynb
diari.md
graph_structure.md
fluxes/
lib/
.env
.DS_Store
Data/.DS_Store
Data/Neigh/.DS_Store
Data/Neigh/elevation/
Data/Neigh/Barcelona.osm.pbf
Data/Neigh/cataluna-260811.osm.pbf
.venv/


# ignore the cache directory
# ignore the articles and papers directories

